@using MvcOnlineTicariOtomasyon.Models.Entities
@model Department
@{
    ViewBag.Title = "CreateDepartman";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<div style="margin:10px 20px">
    <h2>Yeni Departman Sayfası</h2>
    <br />
    <form class="form-group" method="post">
        <label for="Departman">Departman Adı</label>
        @Html.TextBoxFor(m => m.DepartmentName, new { @class = "form-control" })
        <br />
        <button class="btn btn-info">Kaydet</button>
    </form>
</div>


